@inject IOptionsSnapshot<BlogSettings> settings
@inject WebManifest manifest

<!DOCTYPE html>
<html lang="en">
<head prefix="og:http://ogp.me/ns#">

	@RenderSection(Constants.Preload, required: false)

	@{ await Html.RenderPartialAsync("_Head"); }

	@RenderSection(Constants.Head, required: false)
</head>

<body class="home blog single-author sidebar" itemscope itemtype="http://schema.org/WebPage">

	@{ await Html.RenderPartialAsync("_Header"); }
	@RenderSection("Breadcrumbs", required: false)

	<main itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog" role="main">
		<noscript>
			<p class="container">@Miniblog.Core.Properties.Resources.SomeFeaturesOfThisWebsiteDoNotWorkAsExpectedWhenJavaScriptIsDisabled</p>
		</noscript>
		<section>
			<div class="container">
				@RenderBody()
			</div>
		</section>
	</main>

	@{ await Html.RenderPartialAsync("_Footer"); }

	@* This lazy loads the stylesheet in a non-render blocking way *@
	<link rel="preload" href="~/css/belowthefold.scss" as="style" />
	<noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>

	<script src="~/js/site.js" async defer></script>

	<script src="~/assets/js/vendor/jquery-1.10.2.js"></script>
	<script src="~/assets/js/vendor/jquery-migrate-1.2.1.min.js" async defer></script>
	<script src="~/assets/js/vendor/bootstrap.js" async defer></script>
	<script src="~/assets/js/vendor/respond.js" async defer></script>
	<script src="~/assets/js/vendor/hover-dropdown.min.js" async defer></script>
	<script src="~/assets/js/vendor/back-to-top.js" async defer></script>
	<script src="~/assets/js/app.js" async defer></script>
	<script src="~/assets/js/analytics.js" async defer></script>

	<script src="~/lib/prism/prism.js" async defer></script>


	@RenderSection(Constants.Scripts, required: false)
</body>
</html>
