@using System.Resources
@using Model.DTO.Projects
@using Shared.Services 

@inject IImagesService images

@{
	ViewData[Constants.Title] = "Sergi Gisbert - " + Miniblog.Core.Texts.Home.Content.Projects;
	ViewData[Constants.Description] = Miniblog.Core.Texts.Projects.Content.Description;
}

@section Breadcrumbs {
	<div class="breadcrumbs margin-bottom-10">
		<div class="container">
			<h1 class="pull-left">@Miniblog.Core.Texts.Home.Content.Projects</h1>
		</div>
	</div>
}

@section Head {
	<link rel="stylesheet" href="~/assets/css/pages/portfolio-v2.css" />

}

@section Scripts {
	<script src="~/assets/plugins/jquery.mixitup.min.js" async defer></script>
	<script src="~/assets/plugins/lazyload/jquery.lazyload.js" async defer></script>
	<script src="~/assets/js/pages/portfolio.js" async defer></script>
	<script type="text/javascript">
		jQuery(document).ready(function () {
			App.init();
			Portfolio.init();
		});
	</script>

}

<div class="container">

	<div class="tag-box tag-box-v2">
		<p>@Miniblog.Core.Texts.Projects.Content.Lead1</p>
	</div>

	<!-- Portfolio Sorting Blocks -->
	<div class="sorting-block">
		<ul class="sorting-nav sorting-nav-v1 text-center">
			<li class="filter active" data-filter="all">@Miniblog.Core.Texts.Projects.Content.All</li>
			@{
				foreach (var category in (List<DtoCategory>)ViewBag.Categories)
				{
					<li class="filter" data-filter="category_@category.Id">@category.Value</li>
				}
			}
		</ul>


		<ul class="row sorting-grid">
			@{
				//var cont = 1;
				//List<DTO.Projects.DtoImage> images = ViewBag.Images as List<DTO.Projects.DtoImage>;
				foreach (var project in (List<DtoProject>)ViewBag.Projects)
				{
					System.Resources.ResourceManager rm = new ResourceManager(Type.GetType("Miniblog.Core.Texts.Projects.Project" + project.Id + ".Project" + project.Id + ",Miniblog.Core"));

					var categories = "";
					var data_cat = "";
					string imgUrl;
					if (project.Images != null && project.Images.Count > 0)
					{
						imgUrl = images.GetUrlThumbnail(project.Images[0]);
					}
					else
					{
						imgUrl = "assets/img/main/11.jpg";
					}

					foreach (var cat in project.Categories)
					{
						categories += "category_" + cat.Id + " ";
						if (String.IsNullOrEmpty(data_cat))
						{
							data_cat = cat.Id.ToString();
						}
					}
					<li class="col-md-3 col-sm-6 col-xs-12 mix @categories mix_all" data-cat="@data_cat" style="display: inline-block; opacity: 1;">
						<a href="/Projects/@project.Slug">
							<p class="label label-default">@project.Date</p>
							<img class="img-responsive" style="display: inline-block;" src="@imgUrl" alt="@project.Images[0].Name.Replace("\"", "'")" width="255" height="161" src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
							@*<noscript><img src="@imgUrl" width="255" height="161" alt="@project.Images[0].Name.Replace("\"", "'")" /></noscript>*@
							<span class="sorting-cover">
								<span style="font-weight: bold;">@rm.GetString("Name")</span>
								<br />
								<span style="font-size:13px;">@rm.GetString("Description")</span>
							</span>
						</a>
					</li>
				}
			}
		</ul>


		<div class="clearfix"></div>
	</div>
	<!-- End Portfolio Sorting Blocks -->
</div>



