@using System.Resources
@using Shared.Services
@using Shared;
@model Model.DTO.Projects.DtoProject;
@inject IImagesService images

@{
	System.Resources.ResourceManager rm = new ResourceManager(Type.GetType("Miniblog.Core.Texts.Projects.Project" + Model.Id + ".Project" + Model.Id + ",Miniblog.Core"));

	ViewData[Constants.Title] = "Sergi Gisbert - " + Miniblog.Core.Texts.Projects.Content.Project + " " + rm.GetString("Name");
	ViewData[Constants.Description] = "Web personal de Sergi Gisbert. " + Miniblog.Core.Texts.Projects.Content.Project + " " + rm.GetString("Name") + ". " + rm.GetString("Description");
}

@section Breadcrumbs {
	<div class="breadcrumbs margin-bottom-10">
		<div class="container">
			<h1 class="pull-left">@Miniblog.Core.Texts.Projects.Content.Project: @rm.GetString("Name")</h1>
			<ul class="pull-right breadcrumb">
				<li><a href="/Projects">@Miniblog.Core.Texts.Home.Content.Projects</a></li>
				<li class="active">@rm.GetString("Name")</li>
			</ul>
		</div>
	</div>
}

<div class="container">
	<div class="row portfolio-item" style="margin-top: 15px;">
		<!-- Content Info -->
		<div class="col-md-6 md-margin-bottom-40">
			<h2>@Miniblog.Core.Texts.Projects.Content.ProjectData</h2>
			<p class="margin-bottom-20">@rm.GetString("Description")</p>

			<h2>@Miniblog.Core.Texts.Projects.Content.TechnicalDetails</h2>
			<div class="tag-box tag-box-v2">
				<div class="row fa fa-icons">
					<div class="col-md-12">
						<ul class="list-unstyled">
							<li style="font-size: 14px;"><i class="icon-briefcase"></i><em>@Miniblog.Core.Texts.Projects.Content.Business</em>: <a href="@Model.Business.Url" target="_blank">@Model.Business.Value</a></li>
							@if (Model.Client != null)
							{
								<li style="font-size: 14px; "><i class="icon-eur "></i><em>@Miniblog.Core.Texts.Projects.Content.Client</em>: <a href="@Model.Client.Url" target="_blank">@Model.Client.Value</a> </li>
							}
							<li style="font-size: 14px; "><i class="icon-calendar "></i><em>@Miniblog.Core.Texts.Projects.Content.Date</em>: @Model.Date </li>
							@if (!String.IsNullOrEmpty(Model.Url))
							{
								<li style="font-size: 14px;"><i class="icon-link "></i><em>@Miniblog.Core.Texts.Projects.Content.Link</em>: <a href="@Model.Url" target="_blank">@Model.Url</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Content Info -->
		<!-- Carousel -->
		<div class="col-md-6">
			<div class="carousel slide carousel-v1" id="myCarousel">
				<div class="carousel-inner">
					@{
						int cont = 1;
						foreach (var image in Model.Images)
						{
							<div class="item @(cont==1 ? "active" : "")">
								<img alt="" src="@images.GetUrl(image)" />
								<div class="carousel-caption">
									<p>@image.Name</p>
								</div>
							</div>
							cont++;
						}
					}

				</div>

				<div class="carousel-arrow">
					<a data-slide="prev" href="#myCarousel" class="left carousel-control">
						<i class="icon-angle-left"></i>
					</a>
					<a data-slide="next" href="#myCarousel" class="right carousel-control">
						<i class="icon-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
		<!-- End Carousel -->
	</div>

	<div class="row portfolio-item" style="margin-top:10px;">
		<div class="col-md-12">
			<div class="tag-box tag-box-v2">
				<h2>@Miniblog.Core.Texts.Projects.Content.ProjectDescription</h2>
				@*@Html.Raw(Model.FullDescription)*@
				@*@Html.Raw(rm.GetString("FullDescription"))*@
				@MarkdownExtension.RenderMarkdown(Html, "/Texts/Projects/Project" + Model.Id.ToString() + "/Project" + Model.Id.ToString() + "-desc")
			</div>
			<div class="tag-box tag-box-v2">
				<h2>@Miniblog.Core.Texts.Projects.Content.Tasks</h2>
				@MarkdownExtension.RenderMarkdown(Html, "/Texts/Projects/Project" + Model.Id.ToString() + "/Project" + Model.Id.ToString() + "-tasks")
			</div>

			@if (Model.Technologies != null && Model.Technologies.Count > 0)
			{
				<h2>@Miniblog.Core.Texts.Projects.Content.Technologies</h2>
				<div class="tag-box tag-box-v2" style="font-size:medium;">
					@foreach (var tag in Model.Technologies)
					{
						<span class="label label-success">@tag</span>
					}
				</div>
			}
		</div>
	</div>
</div>
