@model Post
@inject IOptionsSnapshot<BlogSettings> settings
@{
	ViewData[Constants.Title] = Model.Title;
	ViewData[Constants.Description] = Model.Excerpt;
	bool showFullPost = ViewContext.RouteData.Values.ContainsKey(Constants.slug);
	string host = $"{Context.Request.Scheme}://{Context.Request.Host}";
	bool isCodePreview = Model.Content.Contains("</code>");
}

@section Head {
	<link rel="canonical" href="@(host + Model.GetLink())" />
}

<article class="post type-post" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
	<header class="entry-header">
		<div class="blog margin-bottom-10">
			<div class="headline" style="margin-bottom: 5px;">
				<h2 class="entry-title" style=" font-size: 36px;line-height: 1.2">
					<a href="@Model.GetLink()" rel="canonical" style="line-height: 1.2">@Model.Title</a>
				</h2>
			</div>
			<div class="blog-post-tags">
				<ul class="list-unstyled list-inline blog-info">
					<li>
						<i class="icon-calendar"></i> <span class="date updated">
							<a href="@Model.GetLink()" title="Enlace permanente a @Model.Title" rel="bookmark">
								<time datetime="@Model.PubDate.ToString("s")" itemprop="datePublished">@Miniblog.Core.Texts.Blog.Content.Published @Model.PubDate.ToString("d MMMM yyyy")</time>
							</a>
						</span>
					</li>
					@if (User.Identity.IsAuthenticated)
					{
						<li>
							<i class="icon-pencil"></i>
							<span class="author vcard">
								<a asp-controller="Blog" asp-action="edit" asp-route-id="@Model.ID" title="Edit the post">Edit post</a>
							</span>
						</li>
					}
					@*<li><i class="icon-comments"></i> <a href="http://www.sergigisbert.com/blog/optimizacion-automatica-imagenes-kentico/#disqus_thread" data-disqus-identifier="310 http://www.sergigisbert.com/blog/?p=310">0 comentarios</a></li>*@
				</ul>
				@if (Model.Categories.Any())
				{
					<ul class="list-unstyled list-inline blog-tags">
						<li>
							<i class="icon-tags"></i>
							@foreach (string cat in Model.Categories)
							{
								<a asp-controller="Blog" asp-action="Category" asp-route-category="@cat.ToLowerInvariant()" asp-route-page="" rel="category tag">@cat</a>
							}
						</li>
					</ul>
				}
			</div>
		</div>
	</header>

	<div class="entry-content" itemprop="articleBody mainEntityOfPage" cdnify>
		@if (showFullPost || settings.Value.ListView == PostListView.FullPosts)
		{
			@Html.Raw(Model.RenderContent())
		}
		else if (settings.Value.ListView == PostListView.TitlesAndExcerpts)
		{
			<p>@Html.Raw(Model.Excerpt)</p>
		}
	</div>

	<footer>
		@*<a href="@Model.GetLink()#comments" itemprop="discussionUrl" title="Go to the comments section">
				<span itemprop="commentCount">@Model.Comments.Count</span> @(Model.Comments.Count == 1 ? "comment" : "comments")
			</a>*@

		<meta itemprop="author" content="@settings.Value.Owner" />
		<meta itemprop="dateModified" content="@Model.LastModified.ToString("s")" />
		<meta itemprop="mainEntityOfPage" content="@(host + Model.GetLink())" />
	</footer>
</article>

@if (showFullPost)
{
	await Html.RenderPartialAsync("_SocialSharing", Model.Title);
	//await Html.RenderPartialAsync("Comments");

	@section Preload {
		@* This lazy loads the stylesheet in a non-render blocking way *@
		<link rel="preload" href="~/css/comments.scss" as="style" />
		<noscript><link rel="stylesheet" href="~/css/comments.scss" /></noscript>
		@if (isCodePreview)
		{
			<link rel="preload" href="~/lib/prism/prism.scss" as="style" />
			<script src="~/lib/prism/prism.js" async defer></script>
		}
	}
}

@if (User.Identity.IsAuthenticated)
{
	@section Scripts {
		<script src="~/js/admin.js" async defer></script>
		<link rel="stylesheet" href="~/css/admin.scss" />
	}
}
