@using System.Linq;

@inject IOptionsSnapshot<BlogSettings> settings
@{
	List<string> categories = (List<string>)ViewData[Constants.categories];
}

<div class="headline headline-md">
	<h2>@Miniblog.Core.Texts.Home.Content.Connect</h2>
</div>
@{ await Html.RenderPartialAsync("_SocialLinks"); }

@if (categories != null && categories.Any())
{
	<div class="headline headline-md">
		<h2 style="padding-top: 25px;">@Miniblog.Core.Texts.Blog.Content.Categories</h2>
	</div>
	<ul class="list-unstyled blog-tags">
		@foreach (var cat in categories)
		{
			<li>
				<a asp-controller="Blog" asp-action="Category" asp-route-category="@cat.ToLowerInvariant()" asp-route-page="" rel="category tag" title="@Miniblog.Core.Texts.Blog.Content.SeePostsIn @cat"><i class="icon-tags"></i> @cat</a>
			</li>
		}
	</ul>
}
